@import 'tailwindcss';

/* Neumorphism styles */

.shadow-neumorphism {
  box-shadow:
    8px 8px 15px #bebebe,
    -8px -8px 15px #ffffff;
}

.shadow-inner-neumorphism {
  box-shadow:
    inset 8px 8px 15px #bebebe,
    inset -8px -8px 15px #ffffff;
}

.shadow-neumorphism-inner {
  box-shadow:
    inset 6px 6px 8px #c1c1c1,
    inset -6px -6px 8px #ffffff;
}

.shadow-neumorphism-btn {
  box-shadow:
    6px 6px 8px #bebebe,
    -6px -6px 8px #ffffff;
}

.shadow-neumorphism-btn-hover {
  box-shadow:
    2px 2px 5px #bebebe,
    -2px -2px 5px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}
